.header {
  width: 100%;
}
.header_wrap {
  background-color: rgb(255, 255, 255);
  padding: 18px 20rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_wrap p {
  padding: 0px;
  margin-bottom: 0px;
}
.header_wrap a {
  text-decoration: none !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
  color: #000;
}
.d-flexs-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 30px;
}
.product-card {
  width: calc(7vw * 2);
  min-width: 200px;
  height: 300px;
  padding: 0.8rem;
  margin: 10px;
}
.product-card img {
  width: 100%;
}
.pname {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 6px 0px;
}
.price {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 6px 0px;
}
